<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="style.css" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tailwind page</title>
</head>

<body class="font-sans h-screen bg-gradient-to-br from-blue-500 to-blue-300">
    <div class="w-max ml-auto mr-auto mt-5">
        <img class="w-36 inline-block" src="images/weather/sunny.png" alt="current weather icon">
        <div class="ml-4 w-36 inline-block align-top">
            <div class="mt-3 w-max block">
                <p class="text-xs uppercase">Санкт-петербург</p>
            </div>
            <div class="mt-4 w-fit block">
                <p class="text-base uppercase">17C</p>
                <p class="text-base">Переменная облачность, местами осадки</p>
            </div>
        </div>
    </div>
</body>

</html>