<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="styles/style.css" />
    <script src="scripts/getWeather.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tailwind page</title>
</head>

<body onload="getWeather()" class="font-sans bg-fixed bg-gradient-to-br from-blue-500 to-blue-300">
    <main class="w-max ml-auto mr-auto mt-5 md:mt-8">
        <article class="w-max">
            <img class="w-36 md:w-52 lg:w-64 xl:w-80 inline-block" src="images/weather/sunny.png"
                alt="current weather icon" id="weather-image">
            <div class="ml-4 md:ml-7 w-36 md:w-52 lg:w-64 xl:w-80 inline-block align-top">
                <div class="rounded-xl border-2 border-blue-600 p-2 w-full block">
                    <input type="text" onchange="getWeather()" size="15"
                        class="w-full block text-sm md:text-lg lg:text-2xl uppercase bg-inherit focus:outline-none"
                        id="city-name" value="Omsk" />
                </div>
                <div class="rounded-xl border-2 border-blue-600 p-2 mt-4 lg:mt-7 w-full block">
                    <p class="text-base md:text-lg lg:text-2xl uppercase font-bold border-b-2 border-blue-600"
                        id="today-temperature"></p>
                    <p class="text-base md:text-lg lg:text-2xl" id="weather-description"></p>
                </div>
            </div>
        </article>
        <article class="w-full mt-2 pl-3 border-l-2 border-r-2 border-blue-600">
            <p class="text-base md:text-lg lg:text-2xl" id="feels-like-temperature"></p>
            <p class="text-base md:text-lg lg:text-2xl" id="wind-speed"></p>
        </article>
        <article class="rounded-xl border-2 border-blue-600 p-2 mt-4 lg:mt-7 max-w-full block">
            <p class="text-xs md:text-base lg:text-xl inline-block w-fit mr-2 md:mr-6" id="tommorow-label"></p>
            <p class="text-xs md:text-base lg:text-xl inline-block w-fit mr-2 md:mr-6" id="tommorow-temperature"></p>
            <p class="text-xs md:text-base lg:text-xl inline-block w-fit" id="tommorow-descritpion"></p>
        </article>
    </main>
</body>

</html>