<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../style.css"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body class="text-xs font-mono">
    <div class="border-l-2 pl-2 border-gray-500 ml-auto mr-auto mt-2 w-96">
        <h1 class="text-lg uppercase">Hi there!</h1>
        <h2 class="text-base">Tailwind begining</h2>
    </div>
</body>

</html>